---
import WeddingLayout from '../layouts/WeddingLayout.astro';
---

<WeddingLayout title="Wedding">
  <section class="flex flex-col items-center justify-center min-h-[60vh] text-center p-4">
    <div class="max-w-xl mx-auto">
      <p class="font-thin text-zinc-500">
        WELCOME TO THE <span class="fancy-font text-5xl mx-3 font-thin text-white">Wedding</span> SITE OF
      </p>
      <p class="text-3xl uppercase mt-3 font-medium text-zinc-300">Makenzie & Jayden</p>
      
      <p class="text-xl mt-4 text-zinc-500">
        You've stumbled upon our wedding page! We're so excited to share all the details of our big day with you.
      </p>

      <div class="mt-8">
        <a href="/wedding">
          <button class="bg-green text-zinc-900 py-3 px-8 rounded-lg text-lg uppercase font-medium hover:bg-zinc-300 transition">
            See Our Wedding Details
          </button>
        </a>
      </div>
    </div>
  </section>
</WeddingLayout>