---
import WeddingLayout from '../../layouts/WeddingLayout.astro';
import WeddingCountdown from '../../components/WeddingCountdown.vue';
import Image from 'astro/components/Image.astro';
import GuestBook from '../../components/GuestBook.vue';

---

<WeddingLayout title="Our Wedding">


  <!-- Section 1-->
  <section class="my-12" >
       
     <!-- TITLE SECTION -->
  <div class="text-center mt-8 mb-8">
    <p class="font-thin">THE <span class="fancy-font text-5xl mx-3 font-thin">Wedding</span> OF </p>
    <p class="text-3xl uppercase mt-3 font-medium">Makenzie & Jayden</p>
    <p class="mt-4 text-base text-zinc-500">May 22, 2026<br/>Frankfort, Indiana</p>
    <div class="flex justify-center mt-4">
      <a href="/wedding/rsvp">
      <button class="border border-green text-green py-2 px-4 rounded hover:text-zinc-200 transition">
        RSVP
      </button>
      </a>
       <a href="https://www.myregistry.com/wedding-registry/jayden-diaz-and-makenzie-wilson-longwood-fl/4860873/giftlist" target="_blank">
       <button class="border border-green text-green py-2 px-4 ml-2 mr-2 rounded hover:text-zinc-200 transition">
        Registry
      </button>
      </a>
      <a href="/wedding/gallery">
      <button class="border border-green text-green py-2 px-4 rounded hover:text-zinc-200 transition">
        Gallery
      </button>
      </a>

    </div>

  </div>


        <div class="grid grid-cols-[1fr_3fr_1fr] items-center mt-5">
      <div class="euc-l"></div>
      <div> 
        <Image 
        src={import("../../assets/P1240400.jpg")}  
        alt="Couple Photo"  
        class="rounded-lg h-auto w-auto "/>
      </div>
      <div class="euc-r"></div>
    </div>
   
    <div class="my-10">
      <WeddingCountdown client:load weddingDate="2026-05-22T16:00:00"/>
    </div>
 
  </section><!--end section 1 -->

  <!-- Event Information -->
  <section class="my-12" id="details">
    <div class="container mx-auto px-4">
      <p class="text-3xl text-center text-green font-600 uppercase mb-10">Event Details</p>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
       
        <div class="bg-zinc-300 rounded-lg shadow-md p-6 text-center">
          <div class="w-16 h-16 bg-green rounded-full flex items-center justify-center mx-auto mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-zinc-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
            </svg>
          </div>
          <h3 class="text-2xl uppercase font-bold text-zinc-900 mb-2">Ceremony</h3>
         <p class="text-xl text-zinc-700 mb-2">Friday</p>
          <p class="text-xl text-zinc-700 mb-2">May 22, 2026</p>
          <p class="text-xl text-zinc-700 ">12:00 PM</p>
        </div>
        
         <div class="bg-zinc-300 rounded-lg shadow-md p-6 text-center">
           <div class="w-16 h-16 bg-green rounded-full flex items-center justify-center mx-auto mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-zinc-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
          </div>
          <h3 class="text-2xl uppercase font-bold text-zinc-900 mb-2">Location</h3>
          <p class="text-xl text-zinc-700 mb-2">The Willow Creek Barn</p>
          <p class="text-xl text-zinc-700 mb-2">1575 E Kirklin Brick Rd</p>
          <p class="text-xl text-zinc-700 mb-2">Frankfort, IN 46041</p>
          <a  href="https://maps.app.goo.gl/ZSgM2fhF6GRAkHjG6"  target="_blank"  class="text-green hover:underline text-xl inline-flex items-center justify-center" >
            View Map
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-1" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
        
        <div class="bg-zinc-300 rounded-lg shadow-md p-6 text-center">
           <div class="w-16 h-16 bg-green rounded-full flex items-center justify-center mx-auto mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-zinc-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 15.546c-.523 0-1.046.151-1.5.454a2.704 2.704 0 01-3 0 2.704 2.704 0 00-3 0 2.704 2.704 0 01-3 0 2.704 2.704 0 00-3 0 2.704 2.704 0 01-3 0 2.701 2.701 0 00-1.5-.454M9 6v2m3-2v2m3-2v2M9 3h.01M12 3h.01M15 3h.01M21 21v-7a2 2 0 00-2-2H5a2 2 0 00-2 2v7h18zm-3-9v-2a2 2 0 00-2-2H8a2 2 0 00-2 2v2h12z" />
            </svg>
          </div>
         <h3 class="text-2xl uppercase font-bold text-zinc-900 mb-2">Reception</h3>
          <p class="text-xl text-zinc-700 mb-2">Same location</p>
          <p class="text-xl text-zinc-700 mb-2">Immediately following ceremony</p>
          <p class="text-xl text-zinc-700 ">Dinner & Dancing</p>
        </div>


      </div>
    </div>
  </section>

  <!-- Our Story Section -->
  <section class="pb-8" id="about">
    <div class="euc-b"></div>
    <div class="container mx-auto px-4 ">
      <h2 class="text-3xl text-center text-green font-600 uppercase mb-10">Our Story</h2>
      
          <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center mb-20">
            <div>
              <Image 
                src={import("../../assets/P1250505.jpg")} 
                alt="Couple Photo" 
                class="rounded-lg w-full h-auto"
              />

            </div>
            <div>
              <h3 class="text-2xl mb-4 uppercase">How We Met</h3>
              <p>
                Jayden and Makenzie's story started back in their school days, though they were more like ships passing in the hallway—familiar faces, but not quite friends. Years later fate gave them a nudge through Jayden's cousin. They started hanging out, and what began as casual get-togethers quickly turned into something real. Their connection just clicked, and the rest is history.
              </p>

            </div>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">

              <div>
                <h3 class="text-2xl mb-4 uppercase">The Proposal</h3>
                <p class=" mb-6">
                  On a trip to North Carolina, Jayden and Makenzie visited the stunning Biltmore Estate. While wandering through the gardens, they came across a quirky tree they dubbed the "asparagus tree". It was there, under that funny tree, that Jayden got down on one knee and proposed. It was a simple, heartfelt moment—perfectly them.
                </p>

               <div class="grid grid-cols-2 gap-2 items-center">
                 <Image 
                  src={import("../../assets/proposal-1.png")} 
                  alt="Couple Photo" 
                  class="rounded-lg h-full w-full"
                />
                 <Image 
                  src={import("../../assets/proposal-2.png")} 
                  alt="Couple Photo" 
                  class="rounded-lg h-full w-full"
                />
                
               </div>
              </div>

              <div>
                <Image 
                  src={import("../../assets/proposal-4.jpg")} 
                  alt="Couple Photo" 
                  class="rounded-lg w-full h-auto"
                />

              </div>
          </div>

    </div>

  </section>

  <!-- Quote Section -->
  <section>
    <div class="bg-zinc-800 border-zinc-800 border-b border-t border-solid pt-5 pb-5">
       <p class="italic text-xl text-center"> "I will forever be thankful to God for gifting you to me. You are not just my partner; you are my best friend. I know I can always count on you. I love you so much." 
      </p>
    </div>
  </section>


  <!-- Wedding Party Section -->
  <!-- <section id="wedding-party" class="py-16">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl text-center text-green font-600 uppercase mb-6">Wedding Party</h2>
       <p class="text-center text-zinc-100 max-w-2xl mx-auto mb-12">
          These are the legends who’ve stood by us through late-night calls, road trips, sleepovers, questionable fashion choices, and way too many group chats. From lifelong friends (and best friends who feel like family), our wedding party is made up of the people we couldn’t imagine this day without. Get to know the VIPs who’ll be helping us laugh, cry, dance, and maybe keep us somewhat sane on our big day.
              </p>

        <div class="grid grid-cols-2 md:grid-cols-4 gap-2 mb-10"> 
          <div class="text-center">
            <Image 
                  src={import("../../assets/party-jada.jpg")} 
                  alt="Wedding Party" 
                  class="rounded-lg party-pic"
                />
              <h4 class="text-xl font-bold text-zinc-100">Jada</h4>
              <p class="text-zinc-400">Maid of Honor</p>
          </div>
          <div class="text-center">
            <Image 
                  src={import("../../assets/party-jada.jpg")}                 
                  alt="Wedding Party" 
                  class="rounded-lg party-pic"
                />
              <h4 class="text-xl font-bold text-zinc-100">Shaunte</h4>
              <p class="text-zinc-400">Bridesmaid</p>
          </div>
          <div class="text-center">
            <Image 
                  src={import("../../assets/party-jada.jpg")} 
                  alt="Wedding Party" 
                  class="rounded-lg party-pic"
                />
              <h4 class="text-xl font-bold text-zinc-100">Ema</h4>
              <p class="text-zinc-400">Bridesmaid</p>
          </div>
          <div class="text-center">
            <Image 
                  src={import("../../assets/party-jada.jpg")} 
                  alt="Wedding Party" 
                  class="rounded-lg party-pic"
                />
              <h4 class="text-xl font-bold text-zinc-100">Shianne</h4>
              <p class="text-zinc-400">Bridesmaid</p>
          </div>
            
        </div>

        <div class="grid grid-cols-2 md:grid-cols-4 gap-2 mb-10"> 
          <div class="text-center">
            <Image 
                  src={import("../../assets/party-rami.png")} 
                  alt="Wedding Party" 
                  class="rounded-lg party-pic"
                />
              <h4 class="text-xl font-bold text-zinc-100">Rami</h4>
              <p class="text-zinc-400">Best Man</p>
          </div>
          <div class="text-center">
            <Image 
                  src={import("../../assets/party-rami.png")}                 
                  alt="Wedding Party" 
                  class="rounded-lg party-pic"
                />
              <h4 class="text-xl font-bold text-zinc-100">Griffin</h4>
              <p class="text-zinc-400">Groomsmen</p>
          </div>
          <div class="text-center">
            <Image 
                  src={import("../../assets/party-rami.png")} 
                  alt="Wedding Party" 
                  class="rounded-lg party-pic"
                />
              <h4 class="text-xl font-bold text-zinc-100">Kyle</h4>
              <p class="text-zinc-400">Groomsmen</p>
          </div>
          <div class="text-center">
            <Image 
                  src={import("../../assets/party-rami.png")} 
                  alt="Wedding Party" 
                  class="rounded-lg party-pic"
                />
              <h4 class="text-xl font-bold text-zinc-100">Nic</h4>
              <p class="text-zinc-400">Groomsmen</p>
          </div>
            
        </div>
    </div>
  </section>  -->

  <!-- Guest Book Section -->
  <!-- <section id="guestbook" class="py-16">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold text-center text-gray-800 mb-6">Guest Book</h2>
      <p class="text-center text-gray-600 max-w-2xl mx-auto mb-12">
        Leave us a message, share a memory, or wish us well!
      </p>
      
      <GuestBook client:load />
    </div>
  </section> -->
</WeddingLayout>
