---
import WeddingLayout from '../../layouts/WeddingLayout.astro';
import RsvpForm from '../../components/RsvpForm.vue';
---

<WeddingLayout title="RSVP">
  <section class="py-12">
    <div class="container mx-auto px-4 max-w-3xl">
      <h1 class="text-3xl text-center text-green font-600 uppercase mb-10">RSVP</h1>
      <div class="text-center">
        <p class="mb-4 text-lg text-zinc-100">
        We can’t wait to celebrate our big day with all the people we love — and that includes you!
      </p>
      <p class="mb-4 text-xl text-zinc-100 ">
          Check back in Feb 2026 to RSVP!
        </p>
      </div>


     <!--  <p class="mb-4 text-lg text-zinc-100">
      We can’t wait to celebrate our big day with all the people we love — and that includes you!
    </p>
      <p class="mb-4 text-lg text-zinc-100">Please let us know if you'll be able to join us by <span class="uppercase font-bold text-2xl text-red-400">June 1, 2024</span>, so we can save you a seat (and some food!).
      </p>
      <p class="mb-6 text-zinc-100">
      Whether you're ready to party on the dance floor, or just there for the cake — we’d love to know you’re coming!
      </p>
      
      <div class="bg-zinc-100 rounded-lg p-8">
        <RsvpForm client:load />
       
      </div> -->
    </div>
  </section>
</WeddingLayout>
